<html>
<body>
	<div ng-controller = "ArgumentCtrl">
		<!-- arg comes from ng-repeat on debate.html -->
		<md-card>
			<md-card-content>
				<h2 class="md-title">{{arg.get('title')}}</h2>	
				<p> {{arg.get('discussion')}} </p>
		        <md-divider>
		        	<p> <b>Sources</b> </p>
					<p> {{arg.get('sources')}} </p>
		    	</md-divider>
			</md-card-content>

			<div class="md-actions" layout="row" layout-align="end center">
				<!-- upvote the current argument when clicked 
					Disabled when user is signed out or when user has already voted
				-->
        		<md-button 
        			ng-click = "upvoteArg()"
        			ng-disabled ="!$root.currentUser || currentUserHasVoted()">
    				<i class="material-icons">thumb_up</i>
    				{{arg.get('upvoteCount')}}
				</md-button>
      		</div>
		</md-card>
	</div>
</body>
</html>