<html>
<body>
	<div ng-controller = "DebateCtrl">

		<md-content class="md-padding">

			Turn : {{debate.get('turn')}} 
			<br>
			Current User Id: {{$root.currentUser.id}}
			<br>
			For User id: {{debate.get('For').id}}
			<br>
			Against User id : {{debate.get('Against').id}}

			<h2 class="md-title text-center">{{debate.get('title')}}</h2>

			<!-- For and Against cards are flexed against each other in one row-->
			<!-- the cards that show arguments will have to can be dynamic using ng-repeat -->
			<div layout = "row">

				<!-- all cards for FOR side -->
				<div flex>
					<!-- general FOR card -->
					<md-card>
						<h2 class = "md-title text-center"> For </h2>
					</md-card>

					<div ng-if = "debate.get('turn') == 'For' && $root.currentUser.id == debate.get('For').id">
						<div ng-include src = "'views/postArgument.html'"> </div>
					</div>

					<!-- One argument for FOR card -->
					<!-- <md-card>
			      		<md-card-content>
			        		<h2 class="md-title">{{debate.forArg.title}}</h2>
			        		<p>
			        			{{debate.forArg.discussion}}
			        		</p>
			      		</md-card-content>
			      		<div class="md-actions" layout="row" layout-align="end center">
			        		<md-button>
			    				<i class="material-icons">thumb_up</i>
							</md-button>
			      		</div>
			    	</md-card> -->

	  			</div>

				<!-- all cards for Against side -->
	  			<div flex >
	  				<!-- general Against card -->
	  				<md-card>
	    				<h2 class = "md-title text-center"> Against </h2>
	    			</md-card>
					
					<div ng-if = "debate.get('turn') == 'Against' && $root.currentUser.id == debate.get('Against').id">
						<div ng-include src = "'views/postArgument.html'"> </div>
					</div>	
					
	    			<!-- One argument for Against card -->
	    			<!-- <md-card>
			      		<md-card-content>
			        		<h2 class="md-title">{{debate.againstArg.title}}</h2>
			        		<p>
			        			{{debate.againstArg.discussion}}
			        		</p>
			      		</md-card-content>
			      		<div class="md-actions" layout="row" layout-align="end center">
			        		<md-button>
			    				<i class="material-icons">thumb_up</i>
							</md-button>
			      		</div>
			    	</md-card> -->

	  			</div>
			</div>

  		</md-content>
	</div>
</body>
</html>