<html>
	<!-- TODOS :
		* replace ng-repeat + ng-include with a custom directive for argument.html (performance issues)
	-->
<body>
	<div>

		<md-content class="md-padding">

			<!-- uncomment below to debug -->
<!-- 			Turn : {{debate.get('turn')}}  <br>
			Current User Id: {{$root.currentUser.id}} <br>
			For User id: {{debate.get('For').id}} <br>
			Against User id : {{debate.get('Against').id}} <br>
			forArgs : {{debate.get('forArgs')}} <br>
			againstArgs : {{debate.get('againstArgs')}} <br> -->

			<!-- show the join button only if the current user is logged in, debate is not full, and current user does not belong to the debate. -->
			<div ng-show = "$root.currentUser && (!debate.get('For') || !debate.get('Against')) && ($root.currentUser.id != debate.get('For').id && $root.currentUser.id != debate.get('Against').id)">
				<md-button ng-click = "join()" class="btn btn-default" type="submit">Join</button>
			</div>

			<!-- TODO : a way without <br> !-->
			<br> <br> <br>

			<h2 class="md-title text-center">{{debate.get('title')}}</h2>
			<p class = "text-center"> {{debate.get('description')}} </p>

			<!-- user should vote on a side once the debate is finished -->
			<div ng-show = "debate.get('againstArgs').length == maxArg && debate.get('forArgs').length == maxArg">
				<div ng-include src = "'views/vote.html'"> </div>
			</div>

			<!-- For and Against cards are flexed against each other in one row-->
			<!-- the cards that show arguments will have to can be dynamic using ng-repeat -->
			<div layout = "row">

				<!-- all cards for FOR side -->
				<div flex>
					<!-- general FOR card -->
					<md-card>
						<h2 class = "md-title text-center"> For </h2>
					</md-card>

					<!-- print all for args and then show postArg view-->
					<div ng-repeat = "arg in debate.get('forArgs') track by $index">
						<div ng-include src = "'views/argument.html'"> </div>
					</div>
					<!-- postArgument if on For turn, current user is For user and if 
					there are less than max amount -->
					<div ng-if ="debate.get('turn') == 'For' && $root.currentUser.id == debate.get('For').id && $root.currentUser.id && (!debate.get('forArgs') || debate.get('forArgs').length < maxArg)">
						<div ng-include src = "'views/postArgument.html'"> </div>
					</div>

					<div ng-if ="debate.get('forArgs').length == maxArg">
						Maximum {{maxArg}} arguments
					</div>

	  			</div>

				<!-- all cards for Against side -->
	  			<div flex >
	  				<!-- general Against card -->
	  				<md-card>
	    				<h2 class = "md-title text-center"> Against </h2>
	    			</md-card>

					<!-- print all against args and then show postArg view-->
					<div ng-repeat = "arg in debate.get('againstArgs') track by $index">
						<div ng-include src = "'views/argument.html'"> </div>
					</div>
					<!-- postArgument if on Against turn, current user is Against user and if 
					there are less than max amount -->
					<div ng-if ="debate.get('turn') == 'Against' && $root.currentUser.id == debate.get('Against').id && $root.currentUser.id &&(!debate.get('againstArgs') || debate.get('againstArgs').length < maxArg)">
						<div ng-include src = "'views/postArgument.html'"> </div>
					</div>

					<div ng-if ="debate.get('againstArgs').length == maxArg">
						Maximum {{maxArg}} arguments
					</div>

	  			</div>
			</div>

  		</md-content>
	</div>
</body>
</html>