<html>
<body>
	<!-- using controller-as syntax, refer to HomeCtrl with ctrl.
	ctrl.cars == this.cars in HomeCtrl.js etc-->
	<div ng-controller = "HomeCtrl as ctrl">

		<!-- using grid system to have 'Think Tank' and sign in/out buttons on same row-->
		<h1 class = "text-center" > Think Tank</h1>

		<!-- show all of the current debates as links-->
    	<div ng-repeat="debate in ctrl.debates">
    		<p class = "text-center"><a href="{{debate.url}}">{{debate.title}}</a><p>
    	</div>
	</div>
</body>
</html>