<html>
<body>
	<div ng-controller = "PostArgumentCtrl as ctrl">

	<!-- Argument and sources -->
	<md-input-container>
		<label>Argument</label>
		<textarea ng-model = "ctrl.argument.title"> </textarea>
	</md-input-container>

	<md-input-container>
		<label>Argument Discussion</label>
		<textarea ng-model = "ctrl.argument.discussion"></textarea>
	</md-input-container>

	<md-input-container>
		<label>Sources</label>
		<textarea ng-model = "ctrl.argument.sources"></textarea>
	</md-input-container>

	<md-button class="md-raised md-primary btn-block" ng-click = "ctrl.postArgument()" >Submit</md-button>

	</div>
</body>
</html>