<html>
<body>
	<div ng-controller = "SideCtrl as ctrl">
		<!-- Side view will display elements depending on if there is a user logged in or not-->
	    <!-- $root.currentUser will hold the current user that Parse recognizes -->
	    
	    <!-- if $root.currentUser is null, then it means no one is logged in, show sign in/up buttons-->
	    <div ng-hide = "$root.currentUser">
		   	<button ng-click = "ctrl.signIn()" class="btn btn-default center-block" type="submit">Sign In</button>
			<button ng-click = "ctrl.signUp()" class="btn btn-default center-block" type="submit">Sign Up</button>
	    </div>

	   	<!-- if $root.currentNull is not null, then someone is logged in, show sign out button -->
	   	<div ng-show = "$root.currentUser">
	   		<p class = "text-center"> Hello: {{$root.currentUser.attributes.username}} </p>
			<button ng-click = "ctrl.signOut()" class ="btn btn-default center-block" type="submit">Sign Out </button>

			<!-- Reposition this using actual css, get rid of <br>s -->
			<br><br><br><br><br><br><br>
			<button ng-click = "ctrl.createDebate()" class="btn btn-default center-block" type="submit">Create Debate</button>
	    </div>

	</div>
</body>
</html>