<html>

<div ng-controller = "SignInDialogCtrl as ctrl">
	<form role="form" name = "signInForm">

		<md-input-container>
  			<label>Email</label>
  			<input type="email" id ="email" ng-model = "ctrl.model.email" required>
		</md-input-container>

		<md-input-container>
  			<label> Password </label>
  			<input type = "password" id = "pwd", ng-model = "ctrl.model.password" required>
		</md-input-container>

		<!-- type = "submit" ? -->
		<md-button 
			class="md-raised md-primary btn-block" 
			ng-click = "ctrl.submit()" 
			ng-disabled ="signInForm.$invalid">
			Submit
		</md-button>

	</form>
</div>

</html>